<section class="chat-content" ref="chat-content">
  {{#if selectedChat}}
    <header class="chat-content__header">
      <div class="chat-content__user">
        <div class="chat-content__avatar">
          {{#if selectedChat.avatar}}
            <img src="{{selectedChat.avatar}}" alt="{{selectedChat.title}}" />
          {{/if}}
        </div>

        <span class="chat-content__title">{{selectedChat.title}}</span>
      </div>

      <button class="chat-content__menu" type="button">
        ⋮
      </button>
    </header>

    <div class="chat-content__messages">
      {{#each selectedChat.messages}}
        <div class="chat-message {{#if isMine}}chat-message_mine{{else}}chat-message_theirs{{/if}}">
          {{#if content}}
            <div class="chat-message__bubble">
              <p class="chat-message__text">{{content}}</p>
              <span class="chat-message__time">{{time}}</span>
            </div>
          {{/if}}
        </div>
      {{/each}}
    </div>

    {{{ PostMessage name="message" ref="postMessage" }}}
  {{else}}
    <div class="chat-content__placeholder">
      Выберите чат чтобы отправить сообщение
    </div>
  {{/if}}
</section>
