<main class="edit-profile">
  <div class="edit-profile__sidebar">
    {{{ ProfileBackButton href="/settings" ref="profileBackButton" }}}
  </div>

  <section class="edit-profile__content">
    <header class="edit-profile__header">
      {{{ ProfileAvatar
        avatar=avatar
        display_name=display_name
        showDisplayName=false
        ref="profileAvatar"
        disabled=true
      }}}
    </header>

    <form class="edit-profile__form" id="edit-profile-form">
      {{{ Input
        id="email"
        name="email"
        type="text"
        label="Почта"
        value=email
        autocomplete="email"
        ref="email"
        validator=emailValidator
      }}}

      {{{ Input
        id="login"
        name="login"
        type="text"
        label="Логин"
        value=login
        autocomplete="username"
        ref="login"
        validator=loginValidator
      }}}

      {{{ Input
        id="first_name"
        name="first_name"
        type="text"
        label="Имя"
        value=first_name
        autocomplete="given-name"
        ref="first_name"
        validator=nameValidator
      }}}



      {{{ Input
        id="second_name"
        name="second_name"
        type="text"
        label="Фамилия"
        value=second_name
        autocomplete="family-name"
        ref="second_name"
        validator=nameValidator
      }}}

      {{{ Input
        id="display_name"
        name="display_name"
        type="text"
        label="Имя в чате"
        value=display_name
        autocomplete="off"
        ref="display_name"
      }}}

      {{{ Input
        id="phone"
        name="phone"
        type="tel"
        label="Телефон"
        value=phone
        autocomplete="tel"
        ref="phone"
        validator=phoneValidator
        mask="phone"
      }}}
    </form>

    <footer class="edit-profile__footer">
      {{{ Button
        name="edit-profile-form-submit"
        type="submit"
        label="Сохранить"
        form="edit-profile-form"
      }}}
    </footer>
  </section>
</main>
