<div class="input" data-input="{{name}}">
    <div class="input__content">
        <label class="input__label" for="{{id}}">
            {{label}}
        </label>

        <input
                class="input__field"
                id="{{id}}"
                name="{{name}}"
                type="{{type}}"
                value="{{value}}"
                autocomplete="{{autocomplete}}"
        />

    </div>

    <span class="input__error"></span>
</div>