<main class="register">
  <div class="register__container">
    <header class="register__header">
      <h1 class="register__title">Регистрация</h1>
    </header>

    <form class="register__form" id="register-form">
      {{{ Input
        id="email"
        name="email"
        type="text"
        label="Почта"
        value=""
        autocomplete="email"
        ref="email"
        validator=emailValidator
      }}}

      {{{ Input
        id="login"
        name="login"
        type="text"
        label="Логин"
        value=""
        autocomplete="username"
        ref="login"
        validator=loginValidator
      }}}

      {{{ Input
        id="first_name"
        name="first_name"
        type="text"
        label="Имя"
        value=""
        autocomplete="given-name"
        ref="first_name"
        validator=nameValidator
      }}}

      {{{ Input
        id="second_name"
        name="second_name"
        type="text"
        label="Фамилия"
        value=""
        autocomplete="family-name"
        ref="second_name"
        validator=nameValidator
      }}}

      {{{ Input
        id="phone"
        name="phone"
        type="tel"
        label="Телефон"
        value=""
        autocomplete="tel"
        ref="phone"
        validator=phoneValidator
        mask="phone"
      }}}

      {{{ Input
        id="password"
        name="password"
        type="password"
        label="Пароль"
        value=""
        autocomplete="new-password"
        ref="password"
        validator=passwordValidator
      }}}

      {{{ Input
        id="password_repeat"
        name="password_repeat"
        type="password"
        label="Пароль (ещё раз)"
        value=""
        autocomplete="new-password"
        ref="password_repeat"
        validator=passwordRepeatValidator
      }}}
    </form>

    <aside class="register__footer">
      {{{ Button
        name="register-submit"
        type="submit"
        label="Зарегистрироваться"
        form="register-form"
      }}}

      <nav class="register__nav">
        {{{ Link
          href="/"
          label="Войти"
        }}}
      </nav>
    </aside>
  </div>
</main>
