<main class="chats">
  <aside class="chats__sidebar">
    <header class="chats__sidebar-header">
      <nav class="sidebar-nav">
        <a data-link href="/settings" class="sidebar-nav__profile">
          Профиль
          <img
            class="sidebar-nav__arrow"
            src="/icons/arrow-right.svg"
            alt="Профиль"
          />
        </a>
      </nav>

      {{{ Search
        id="chat-search"
        name="search"
        ref="search"
        value=""
        placeholder="Поиск"
      }}}

      {{{ Button
        name="create-chat"
        type="button"
        label="Создать чат"
      }}}
    </header>

    <nav class="chats-list">
      {{#each chats}}
        {{{ ChatItem
          id=id
          title=title
          message=message
          time=time
          active=active
          unread=unread
          avatar=avatar
        }}}
      {{/each}}
    </nav>
  </aside>

  <section class="chats__content">
    {{{ MessengerContent
      selectedChat=selectedChat
      messageGroups=messageGroups
    }}}
  </section>

  {{{ ActionModal
    isOpen=isCreateChatModalOpen
    title="Создать чат"
    buttonText="Создать"
    inputId="create-chat-title"
    inputName="title"
    inputLabel="Название"
    onClose=closeCreateChatModal
    onSubmit=submitCreateChatModal
  }}}
</main>
