<form class="search" data-search="{{name}}">
  <label class="search__control">
    <input
      class="search__field"
      ref="{{ref}}"
      type="search"
      name="{{name}}"
      value="{{value}}"
      autocomplete="off"
    />

    <span class="search__placeholder" aria-hidden="true">
      <img src="/icons/search.svg" class="search__icon" alt=""/>
      <span class="search__text">{{placeholder}}</span>
    </span>
  </label>
</form>
