<main class="edit-password">
  <div class="edit-password__sidebar">
    {{{ ProfileBackButton href="/profile" ref="profileBackButton" }}}
  </div>

  <section class="edit-password__content">
    <header class="edit-password__header">
      {{{ ProfileAvatar
        displayName=displayName
        showDisplayName=false
        ref="profileAvatar"
      }}}
    </header>

    <form class="edit-password__form" id="edit-password-form" autocomplete="off">
      {{{ Input
        id="password-old"
        name="password-old"
        type="password"
        label="Старый пароль"
        value=""
        autocomplete="off"
        ref="password-old"
        validator=passwordValidator
      }}}

      {{{ Input
        id="password"
        name="password"
        type="password"
        label="Новый пароль"
        value=""
        autocomplete="new-password"
        ref="password"
        validator=passwordValidator
      }}}

      {{{ Input
        id="password-repeat"
        name="password-repeat"
        type="password"
        label="Повторите новый пароль"
        value=""
        autocomplete="new-password"
        ref="password-repeat"
        validator=passwordRepeatValidator
      }}}
    </form>

    <footer class="edit-password__footer">
      {{{ Button
        name="edit-password-form-submit"
        type="submit"
        label="Сохранить"
        form="edit-password-form"
      }}}
    </footer>
  </section>
</main>
